
/* GENERAL STYLING */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    display: flex; 
    justify-content: center; /* align content in center and mobile */
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.69;
    padding: 38.4px; /* added padding */
    color: #d8d8d8;
    text-align: left;
    background-color: #000020;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.938rem; /* 31px */
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.hidden {
    font-size: 0;
}

.title {
    font-size: 2.8125rem;
}

.subtitle {
    font-size: 2.0625rem;
}

.icon {
    margin-right: 10px;
}

.top-banner {
    margin-top: 2%;
    margin-bottom: 10%;
}

.info {
    height: 667px; /* added a height to the details */
}

p.details:last-of-type {
    margin-bottom: 0;
}

.details span {
    font-size: 1.25rem; /* 20px */
    font-weight: 500;
}

.location {
    text-decoration: underline;
    margin: 0;
}

.temp-border {
    border: 1px solid orange; /*temporary divider*/
}

/* NAVIGATION STYLING */
#nav {
    position: absolute;
    width: 100%;
}
.navbar {
    padding: 0;
}
.nav-link a {
    color: black;
    text-decoration: none;
}
.nav-link a i {
    border:2px solid black;
    border-radius: 50%;
    padding: 0.2rem;
}
.nav-link a span {
    padding-left: 2rem;
}

.navbar-toggler {
    position: relative;
    top: 1rem;
    left: 85%;
    z-index: 2;
}

.navbar-collapse.show {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  /*transition: 0.5s;  0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.navbar-collapse ul li {
    list-style: none;
    color: #fafafa;
    margin-top: 15px;
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.navbar-collapse-tags-center{
    display: inline-block;
    text-align: left;
}

.navbar-tags{
    display: inline-block;
}

/* this was only for the close button on the navigation, but it seems like we don't have one */
.navbar-toggler .closeBtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    width: 22.1px;
    height: 19.7px;
    border: solid 1px #707070;
}

.nav-link {
    color: #d0d0d0;
    text-decoration: none;
}

.nav-link i {
    border: 3px solid #d0d0d0;
    border-radius: 50%;
    padding: 7.9px 3px;
    height: 39.9px;
    width: 39.9px;
    color: #d0d0d0;
}

.fa, .fas {
    text-align: center;
}

.nav-link span {
    padding-left: 18px;
    width: 54px;
    height: 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #f5f5f5;
}

.navbar-tags {
    display:inline;
    padding: 0 15px;
}
/*Nav Styling End*/

/* MAIN CONTENT STYLING */
/* in development, feel free to make changes */
.student {
    padding: 0.5rem 2%;
}
.student img {
    width: 20%;
    height: auto;
}

/* allows content to show on particle background */
.student-list{
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 4.5625rem;
    font-family: 'Roboto Medium';
}
/* allows content to show on particle background */
.student-details{
    position: relative;
}

/*Gives student list the outline effect*/
.student-outline{
    color: #67677A;
    font-size: 1.875rem;
    line-height: 1.23;
    padding-top: 35px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.student-outline:hover{
    color: white;
}
.student-keyword{
  color: #707070;
  font-size: 1rem;
  line-height: 1.2;
}

.student-keyword-mobile{
padding-right: 10px;
text-align: left;
}

/* PARTICLE STYLING */
#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000020;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
/* old particle css
particles-js {
    /* position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000020;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
*/

.modal-dialog {   
    top: 18%;
    /* width: 319.3px; take this off if you want it bigger  -- might move the size of the box to modal-content */ 
    height: 506.2px;
}

.modal-content {
    text-transform: uppercase;
    color: #121d31;
    line-height: 1.23; 
    font-size: 1.375rem; /* 22px */  
}

.modal-body {
    position: relative;
    z-index: 999;
    padding: 0;
}

.text {
    position: absolute; 
    top: 2%;
    left: 5%;
}

.text ul {
    color:#707070;
      font-weight: 300;
      font-size: 1rem; /* 16px */
}

/* MEDIA QUERIES */
@media (min-width: 992px) {
    .navbar-tags {
    display: none;
    }

    .nav-link {
        color: #fafafa;
    }

    .nav-link i {
        border: 3px solid #fafafa;
    }

    .nav-link:hover {
        color: #d8d8d8;
        border-color: #d8d8d8;
    }

    li .nav-link:hover:after, .nav-link:focus::after {
        content: '';
        padding-left: 18px;
        width: 54px;
        height: 24px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        color: #707070;
    }

    li:first-of-type .nav-link:hover::after, li:first-of-type .nav-link:focus::after {
        content: 'Home';
    }

    li:nth-child(2) .nav-link:hover::after, li:nth-child(2) .nav-link:focus::after {
        content: 'Student work';
    }

    li:last-of-type .nav-link:hover::after, li:last-of-type .nav-link:focus::after {
        content: 'Location';
    }

    /* Ensures the front page doesn't contain student name */
    .landing-screen {
        height: 100vh;
    }

    .title {
        font-size: 3.75rem;
    }
    .subtitle {
        font-size: 3rem;
    }

    .student-outline { /*Gives student list the outline effect*/
        color: #D6D6D6;
        -webkit-text-fill-color: #000020; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #67677A;
        font-size: 5rem;
    }

    .student-outline:hover {/*On hover fills in letters and increases size*/
        color: #000020;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color:#000020;
        font-size: 6rem;
    }

    .student-keyword{
        font-size: 1.25rem;
    }

    .student-keyword-mobile{
        padding-right: 15px;
    }
    /* .popup-text{
      position: relative;
      color:#707070;
      font-weight: 300;
      width: 190px;
    }
    .popup-name{
      position: absolute;
      font-size: 2.6875rem;
      top: 2%;
      left: 5%;
    }
    .popup-keyword1{
      position: absolute;
      font-size: 1rem;
      top: 12%;
      left: 5%;
    }
    .popup-keyword2{
      position: absolute;
      font-size: 1rem;
      top: 15.5%;
      left: 5%;
    }
    .popup-keyword3{
      position: absolute;
      font-size: 1rem;
      top: 19%;
      left: 5%;
    }
    .popup-keyword4{
      position: absolute;
      font-size: 1rem;
      top: 22.5%;
      left: 5%;
    } */

    .modal-dialog {   
        /* width: 580.9px; take this off if you want it bigger  -- may move the sizing of the box to modal-content */
        height: 446px;
}
 }
