
/* GENERAL STYLING */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.69;
    color: #d8d8d8;
    text-align: left;
    background-color: #000020;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.hidden {
    font-size: 0;
}
.title {
    font-size: 5rem;
}

.subtitle {
    font-size: 3rem;
}

.icon {
    margin-right: 10px;
}

.top-banner {
    margin-top: 2%;
    margin-bottom: 10%;
}
.temp-border {
    border: 1px solid orange; /*temporary divider*/
}

/* NAVIGATION STYLING */
/* .nav-link a {
    color: black;
    text-decoration: none;
}
.nav-link a i {
    border:2px solid black;
    border-radius: 50%;
    padding: 0.2rem;
}
.nav-link a span {
    padding-left: 2rem;
} */


.navbar-toggler {
    position: relative;
    right: 0;
    left: 90%
}

.navbar-collapse.show {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.navbar-collapse ul li {
    list-style: none;
    color: #fafafa;
    margin-top: 15px;
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.navbar-toggler .closeBtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  width: 22.1px;
  height: 19.7px;
  border: solid 1px #707070;
}

.nav-link {
    color: #fafafa;
    text-decoration: none;
}

.nav-link i {
    border: 3px solid #fafafa;
    border-radius: 50%;
    padding: 7.9px 3px;
    height: 39.9px;
    width: 39.9px;
}

.fa, .fas {
    text-align: center;
}

.nav-link:hover {
    color: #d8d8d8;
    border-color: #d8d8d8;
}

li:hover .nav-link::after {
    content: '';
    padding-left: 18px;
    width: 54px;
    height: 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #707070;
}

li:hover:first-of-type .nav-link::after {
    content: 'Home';
}

li:hover:nth-of-type(2) .nav-link::after {
    content: 'Student work';
}

li:hover:last-of-type .nav-link::after  {
    content: 'Location';
}
/*Nav Styling End*/

/* MAIN CONTENT STYLING */
/* in development, feel free to make changes */
.student-details {

}
.student {
    padding: 0.5rem 2%;
}
.student img {
    width: 20%;
    height: auto;
}
.student-list{
  position: relative; /* allows content to show on particle background */
  text-transform: uppercase; 
  font-weight: 500; 
  font-size: 4.5625rem;
}
.student-details{
  position: relative;/* allows content to show on particle background */

}
.student-outline{/*Gives student list the outline effect*/
  color: #D6D6D6;
  -webkit-text-fill-color: #000020; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #67677A;
  font-size: 5rem;
}
.student-keyword{
  color: #707070;
  font-size: 1.25rem;
  line-height: 1.2; 
}
.student-outline:hover{/*On hover fills in letters and increases size*/
  color: #000020;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#000020;
  font-size: 6rem;
}

/* PARTICLE STYLING */
#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000020;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
/* old particle css
particles-js {
    /* position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000020;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
*/


/* MEDIA QUERIES */
